body, html {
    height: 100%;
    text-align: center;
    overflow-x: hidden;
}

.myButton {
  box-shadow:inset 0px 1px 3px 0px #141414;
  background:linear-gradient(to bottom, #d3ac2b 5%, #d3ac2b 100%);
  background-color:#d3ac2b;
  border-radius:5px;
  border:1px solid #566963;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:sans-serif;
  font-size:20px;
  font-weight:bold;
  padding:15px 26px;
  text-decoration:none;
  text-shadow:0px 0px 0px #020505;
}
.myButton:hover {
  background:linear-gradient(to bottom, #d3ac2b 5%, #d3ac2b 100%);
  background-color:#d3ac2b;
  color:#000000;
  background-color: #FFFFFF
}
.myButton:active {
  position:relative;
  top:1px;
}
body {
  
  background: linear-gradient(#09101f,#CBD0D8);
  overflow: linear-gradient(#CBD0D8,#09101f);
}
h1
{
  color: white;
  font-size: 5vw;
  text-shadow: 6px 6px 3px rgb(7, 1, 1);
  animation: fadeInAnimation ease 5s;
}
 h2
{
  color: white;
  font-size: 3vw;
  text-shadow: 2px 2px 1px rgb(7, 1, 1);
  animation: fadeInAnimation ease 10s
}
p{
  color: white;
  font-size: 3vw;
  text-shadow: 2px 2px 1px rgb(7, 1, 1);
  animation: fadeInAnimation ease 10s

}
/* @media screen and (min-width: 281px) {
    div.example {
      font-size: 20px;
    }
  }
  
  @media screen and (max-width: 280px) {
    div.example {
      font-size: 20px;
    }
  } */
/*
h3
{
  color: white;
  font-size: 17px;
  text-shadow: 6px 6px 3px rgb(7, 1, 1);
  animation: fadeInAnimation ease 5s;
} */
.flyinfrombelow{
    height: 50px;
    overflow: hidden;
    position: relative;
}

 .flyinfrombelow p{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    text-align: center;
    animation: flyinfrombelow 3s ease-out 
  }

  @keyframes flyinfrombelow{
      0%{
          transform: translateY(200%)
      }
      100%{
          transform: translateY(0%);
      }
  }

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 40%;
    min-width: 570px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.container{
    width: 100%;
    padding: 30px 30px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
} 
.container *{
    font-family: "Poppins",sans-serif;
    color: black;
    font-weight: 500;
}
/* h1{
    color: white;
    font-size: 10vw;
} */
