body, html {
    height: 100%;
    text-align: center;
    overflow-x: hidden;
}

body {
  /* background: linear-gradient(150deg, #fdcd3b 60%, #ffed4b 10%); */
  background: linear-gradient(#09101f,#CBD0D8);
}
.myButton {
	box-shadow:inset 0px 1px 3px 0px #141414;
	background:linear-gradient(to bottom, #d3ac2b 5%, #d3ac2b 100%);
	background-color:#d3ac2b;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:20px;
	font-weight:bold;
	padding:15px 26px;
	text-decoration:none;
	text-shadow:0px 0px 0px #020505;
    margin: 20px auto;
}
.myButton:hover {
	background:linear-gradient(to bottom, #d3ac2b 5%, #d3ac2b 100%);
	background-color:#d3ac2b;
    color:#000000;
    background-color: #FFFFFF
}
.myButton:active {
	position:relative;
	top:1px;
}

*{
    padding: 0;
    
    box-sizing: border-box;
}

.wrapper{
    width: 40%;
    min-width: 570px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.container{
    width: 75vmin;
    padding: 30px 30px 50px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
    margin: 20px auto;
    margin-top: 20px auto;
    margin-bottom: 20px auto;
} 
.container *{
    font-family: "Poppins",sans-serif;
    color: black;
    font-weight: 500;
}


.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}

.skills:not(:last-child){
    margin-bottom: 25px;
}

.skillbar1 div{
    position: relative;
    width: 0;
    height: 20px;
    border-radius: 10px;
    background-color: #04f804;
   
 
}

#github-bar1{
    animation: github-fill 7s forwards;
}
@keyframes github-fill{
    100%{
        width: 90%;
    }
}

.skillbar2 div{
    position: relative;
    width: 0;
    height: 20px;
    border-radius: 10px;
    background-color: #0a9be9;
 
}

#html-bar2{
    animation: html-fill 6s forwards;
}
@keyframes html-fill{
    100%{
        width: 70%;
    }
}
.skillbar3 div{
    position: relative;
    width: 0;
    height: 20px;
    border-radius: 10px;
    background-color: #146fd8;
 
}

#css-bar3{
    animation: css-fill 5s forwards;
}
@keyframes css-fill{
    100%{
        width: 65%;
    }
}

.skillbar4 div{
    position: relative;
    width: 0;
    height: 20px;
    border-radius: 10px;
    background-color: #f3f706;
 
}

#bootstrap-bar4{
    animation: bootstrap-fill 4s forwards;
}
@keyframes bootstrap-fill{
    100%{
        width: 35%;
    }
}

.skillbar5 div{
    position: relative;
    width: 0;
    height: 20px;
    border-radius: 10px;
    background-color: #fa0c0c;
 
}

#fontawesome-bar5{
    animation: fontawesome-fill 3s forwards;
}
@keyframes fontawesome-fill{
    100%{
        width: 30%;
    }
}
